@font-face {
    font-family: 'Formula Condensed';
    src: url('FormulaCondensed-Regular.otf') format('opentype');
    font-weight: 100;
 
 }
 body{
     padding-left:10vw;
     padding-top:6vw;
     background-size: 8vw 4vw;
     background-image:
       linear-gradient(to right, #00ff00 1px, transparent 1px),
       linear-gradient(to bottom, #00ff00 1px, transparent 1px);
 }

h1{
font-family: 'Formula Condensed';
   font-weight: 20;
   font-size: 16vw;
 margin:0vw;
 color:#00ff00;
 


 
}
h1:hover{
    color: #000;
}
alt{
    font-feature-settings: "ss01";
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    
 }

 p{
    font-family: 'Formula Condensed';
    font-weight: 30;
 }


